name: Deploy to dev
on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    outputs:
      image: ${{ steps.build.outputs.image }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Build and deploy dev
        uses: ./.github/actions/build-and-push
        with:
          team: navno
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          environment: dev