name: Deploy to dev
on:
  workflow_dispatch

jobs:
  deploy_dev:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Build and push image
        id: build
        uses: ./.github/actions/build-and-deploy
        with:
          team: navno
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}

      - name: Deploy to nais
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/config.yml
          VAR: image=${{ needs.build_image.outputs.image }}
          VARS: .nais/vars-dev.yml